[2015-08-21 10:35] dmk12 opened #1 "Doesn't work in Firefox"
Hi, thanks so much for making this! Works like a charm in Chrome and Safari, the only problem seems to be Firefox - I don't see the scrolling effect happening there.

[2015-08-21 15:12] rrutsche commented on #1
@dmk12
Hi, thanks for your message. Should also work in firefox now.

[2015-08-21 15:14] #1 closed

[2015-09-16 15:20] izziaraffaele opened #2 "Smooth scrolling with more than one image"
Adding 2 parallax sections with different images the parallax effect becomes lot less "smooth" than before. When I scroll there is a bit of re-rendering/lagging that makes the scroll behavior not smooth.

I don't know how to provide an example of the problem I'm facing and I hope you'll be able to help me solving it.

Maybe would be nice to implement some of the suggestions here? http://kristerkar

[2015-09-16 15:34] izziaraffaele commented on #2
FPS for me are alway below 60. I also do not have such big painting bars in my Chrome console except a big bar when an image gets on the viewport. Really don't get why this strange behavior...

[2015-09-17 21:20] rrutsche commented on #2
@izziaraffaele thanks for your feedback. Tested the component with three different instances and images and did not notice lagging. But I'll have a look at it. Maybe I can improve handling of not-visible elements.

Do you have an example online?

[2015-09-18 06:40] izziaraffaele commented on #2
Not yet... Here you have a short video showing the issue I'm talking about http://we.tl/CsDJXjQEME. I noticed it on the demo page as well, on the first image so I'm not sure it's a problem related with my images or my html structure.

I'm using chrome if this can help

[2015-09-21 21:28] rrutsche commented on #2
Could reproduce it somehow by adding 3-4 parallax instances with big images to the DOM and putting a huge amount of child props inside the component.

Tried to get rid of the little flickering by updating positions inside requestAnimationFrame plus only if the parallax component is inside viewport. Also locked the min duration between position updates to at least 10 millis.

And I added some CSS e

[2015-10-03 17:11] izziaraffaele commented on #2
Thanks but actually it didn't solved the problem although I just noticed that on live environment scrolling is a bit more smooth.

I'll give a look at it now and let you know if I solve the problem

[2015-10-05 15:37] izziaraffaele commented on #2
@RRutsche I wasn't able to find the issue but I managed to solve my personal problem. Minifing the images ( with imagemin ) reduced the problem for me. That's why in production was working better...

I had the strenght parameter set to 500 and that was screwing the component even more. Putting it back to 300 gave me the perfect result.

[2015-10-05 18:35] rrutsche commented on #2
@izziaraffaele Glad to hear that you found a solution.
The original image size should also be as close as possible to the displayed image size when its gonna be translated. I read about some similar issues that occur when these sizes diverge to much.

[2015-10-12 13:36] #2 closed

[2015-10-18 18:47] crubier opened #4 "Upgrade for react 0.14"
This would be nice :-) probably almost nothing to change in the code except version number.

[2015-10-18 21:18] rrutsche commented on #4
@crubier Changed version number and also some v0.14.0 specific requirements like using react-dom package and not using mutated style properties. Should work now, thanks for using

[2015-10-19 13:49] crubier commented on #4
Nice :+1:

[2015-10-19 17:55] #4 closed

[2015-10-19 18:37] bluejamesbond opened #5 "Potentially using both an img and div for background image"
This will allow users to be to rely on more complex css features on div while the img in back will allow for SEO and serve as a fallback.

Great lib btw

[2015-10-19 19:35] rrutsche commented on #5
You mean something like this?

[code]

or totally replace bgImage by a div?

[2015-10-21 05:04] mathew-kurian commented on #5
I was leaning toward the latter but I feel that your bgDiv technique should do the trick. Essentially, I ended up replacing the <img> tag you had with a <div> as seen here: https://github.com/bluejamesbond/react-parallax/blob/master/src/jsx/Parallax.jsx#L33. This allowed me to control the background options via CSS esp. the style background-size:cover which will allow the background to be scaled t

[2015-10-21 05:09] mathew-kurian commented on #5
Reopening since I accidentally closed the issue.

[2015-11-11 23:22] rrutsche commented on #5
Hi @bluejamesbond
Sorry for the late response. Finally I had time to make some enhancements of the library.
Now you can pass whatever you want to the new `Background` component that is now also exported by the npm package. Children inside this component also get the Parallax positions and you are free to add custom styles. Check the [Readme](https://github.com/RRutsche/react-parallax/blob/master/R

[2015-11-11 23:49] mathew-kurian commented on #5
Thank you. This looks great now!

Sent from my iPhone

[2015-11-12 08:14] #5 closed

[2015-12-10 10:33] SPAHI4 opened #6 "Server rendering"
[code]

[2015-12-10 11:15] rrutsche commented on #6
@SPAHI4 thanks for your feedback. Did not try server side rendering yet. Can you provide a minimal example for testing? Thinking about mocking the window/document objects. It's browserify that complains, is it?

[2015-12-10 12:05] SPAHI4 commented on #6
No, it is webpack. I use this boilerplate https://github.com/iam4x/isomorphic-flux-boilerplate

[2015-12-10 13:27] Viscosity4373 commented on #6
+1 Same problem with server side rendering because there's no window or document variable in node.

I used this workaround for now:

[code]

and then in the component where I want to use Parallax:

[code]

Only problem with that is, that I get different markup on client and server, which react then complains about in the console.
Ideally the _disabled_ prop would deactivate all code that uses wind

[2015-12-11 03:00] goldensunliu opened #7 "make demo work on large height/width windows"
not sure if it is the link or the demo that is broken at http://rrutsche.github.io/#parallax

[2015-12-11 08:20] rrutsche commented on #7
@goldensunliu hm, #worksforme. which browser/device are you using? what is broken exactly?

[2015-12-11 16:01] goldensunliu commented on #7
@RRutsche
![image](https://cloud.githubusercontent.com/assets/1348993/11748415/2e0a2192-9ff6-11e5-97d5-b04104f2d4b6.png)
when i scroll on this page nothing happens:
![image](https://cloud.githubusercontent.com/assets/1348993/11748489/955c6152-9ff6-11e5-8e67-9d5a603df571.png)

[2015-12-11 17:50] rrutsche commented on #7
Looks like your Browser width/height is pretty large. Maybe there is not enough content on the demo page. Have you tried it with less window size?

[2015-12-11 17:55] goldensunliu commented on #7
@RRutsche that is it. I guess the issue should be the demo should work on large screen sizes.

[2015-12-11 19:11] rrutsche commented on #7
I can put in a little more content so that you even have to scroll on large screens. Will do that next time I work on that page.

[2015-12-11 23:50] rrutsche commented on #6
[v0.3.2](https://github.com/RRutsche/react-parallax/releases/tag/v0.3.2) should fix the issue.
@fargerio I added DOM check like in your example whenever window object is gonna be used.

I also put the event listener binding to componentDidMount instead of componentWillMount so server/client markup is consistent.

Btw, I tested the component with https://github.com/iam4x/isomorphic-flux-boilerplate

[2015-12-14 09:59] Viscosity4373 commented on #6
Thank you, great work. Now it works perfectly for me.

[2015-12-14 10:49] Viscosity4373 commented on #6
One more thing:
Im using the Component in a site that has to look as similar as possible when js is deactivated. Right now the img tag shows before the content  and moves it down.
To avoid this I add the following css class to the component when doing server side rendering:

[code]

You might want to do something similar when _disabled_ is true.

[2015-12-20 17:39] #7 closed

[2016-01-18 15:28] YuChunLOL opened #8 "Blur on scroll"
Hello !  Here is a suggestion about blurring image when scrolling
I think this effect offers the better UX for users :-)
the effect is like this demo : http://codepen.io/sallar/pen/lobfp

Instead of setting constant blur value in setImagePosition()

[code]

I suggest that you can do something like this

[code]

Thanks for your project, this project helps a lot ! :-)

[2016-01-25 20:32] rrutsche commented on #8
@HowardLoTW Thanks for your idea and for using the library. Looks indeed nice on the codepen page. Could imagine to add it to the project. I like the approach that behavior stays the same for everyone who already uses the blur feature. So maybe there could be a maxBlur and a minBlur value for this kind of dynamic blurring. The blur prop then would stay as it is.

[2016-01-25 20:34] rrutsche commented on #6
Thanks for the approach. This is indeed a good point. Will add this in one of the next releases.

[2016-01-25 20:34] #6 closed

[2016-03-05 14:51] pmadar opened #9 "Elements are not updating inside Parallax"
Everything in Parallax compoment are not updating at changing state or receiving new props.
For example:
[code]
On receiving new goals nothing happens.

[2016-03-06 18:11] rrutsche commented on #9
@pmadar Thanks for the report. Fixed the issue in version [0.4.1](https://github.com/RRutsche/react-parallax/releases/tag/v0.4.1)

[2016-03-06 18:11] #9 closed

[2016-03-06 19:08] pmadar commented on #9
Tested. Working great, thank for the super fast fix :)

[2016-04-12 05:47] ateev opened #11 "Need support for React 15.0.1"
@RRutsche  Can we update this package to use React 15.0.1 ? After upgrading React, i am getting this error.
[code]

[Link](https://gist.github.com/jimfb/4faa6cbfb1ef476bd105)

[2016-04-12 19:11] rrutsche commented on #11
@ateev Thanks for your feedback. I merged your pull request.

[2016-04-12 19:11] #11 closed

[2016-04-12 19:30] ateev commented on #11
@RRutsche Can you please release this new one on npm fast ?

[2016-04-12 19:32] rrutsche commented on #11
Already did. It's version 0.4.3

[2016-07-29 13:02] feluxe opened #13 "parallax component hides other element due to z-index issue."
Thanks for the great component!

I have one issue though.. I have a button  on my page with a `z-index` of `9999`. If I add the parralallax component the button disappears. The strange thing is, that the button is quite far away from the visible part of the parallax component. If I put a z-index on `div.react-parallax` the button becomes visible again and everything looks fine. So I thought, maybe

[2016-08-04 22:48] rrutsche commented on #13
Hi @feluxe. Thanks for using the component and for your feedback! Do you have an example online? I just tried to reproduce your issue by adding a `div` with `position: fixed` to the top right of a test page. I also added a `z-index: 10`. But this looked okay to me.
I think giving your `Parallax` component a custom `className` and setting the `z-index` in CSS is better than adding an extra `zIndex`

[2016-08-23 14:04] rrutsche commented on #13
@feluxe I will close the ticket as I assume the issue could be fixed otherwise. Please send a message if not.
Thanks

[2016-08-23 14:04] #13 closed

[2016-08-24 08:44] feluxe commented on #13
Sorry for my late response!

I just solved it like that. Works fine now. If I get more troubles from the issue I'll try to upload an example, but for now the fix works just fine. As long as no one else reports a similar issue and due to the strange behavior I would say it's just a unique bug in my page - nothing to worry ;-)

[2016-09-12 21:28] chrisdobler opened #14 "Custom Background top is cut off"
I've been having an issue with the custom background element. I'll try to explain the best I can.

It seems that when you set a custom background element the y coordinate position is off by -158px making the image appear to be cut off and pushed to the top of the frame.

translate3d(-50%, -158px, 0px) always seems to start at -158 at strength 300 no matter the size of the image, but I think it sho

[2016-09-13 20:21] rrutsche commented on #14
@chrisdobler
Thanks for your feedback. I will have a look at it.
I'm anyway working on a calculation enhancement for the background image/component position.
I will keep you posted.

[2016-09-13 21:07] chrisdobler commented on #14
Thanks @RRutsche looking forward to seeing it. Your component is literally the only one that works in a server rendering environment.

Another thing I noticed is that the background position seems to move when I change the window size, which I guess has something to do with my issue. Is there any way currently to make the background's position relative to the parent div rather than the window?

[2016-10-17 07:27] cyberwombat opened #16 "bgHeight doesn't appear to work"
If I try this (0.4.5)

     <Parallax bgImage={image} strength={400} bgHeight='200px'/>

I get nothing. If I add content it stays just big enough to accommodate.

[2016-10-18 10:09] rrutsche commented on #16
Hi @cyberwombat,
thanks for your feedback. Do you want to resize the `Parallax` component itself? The `bgHeight` prop is meant to set just the size of your background image not the whole component. To achieve this you have to steer it with the content itself or with custom `css`.

[2016-10-18 21:29] damienleroux commented on #14
- 1. I have the same issue.

This seem to come from [this line](https://github.com/RRutsche/react-parallax/blob/master/src/jsx/Parallax.jsx#L179):

[code]

For example, if a window with a height of 200px begins with a Parallax using a strength of 400, I got a margin-top effect of 200 px. This "margin" change when resizing the window.

Any help will be greatly appreciated :)

[2016-10-18 23:07] rrutsche commented on #14
@damienleroux Calculation enhancement is nearly finished. It just needs a bit more testing.
In the calculation branch I located the issue and fixed the top position of both the `Parallax` component and the custom `Background` component. I replaced the calculation line you mentioned and the one for `Background` Component entirely.

I will merge it to master in the next days. Thanks for your feedbac

[2016-10-19 06:57] damienleroux commented on #14
Thank you a lot for sharing. I'll wait your next version and be happy to test it. Thank you

[2016-10-20 22:03] cyberwombat commented on #16
Yes. I thought it controlled the height of the container. Thanks for clarifying.

[2016-10-20 22:03] #16 closed

[2016-10-21 21:16] rrutsche commented on #14
@chrisdobler @damienleroux I just published the new version. I hope it solves your issue.

[2016-10-21 21:30] damienleroux commented on #14
ok I am going to test it. Thank you

[2016-10-21 21:39] damienleroux commented on #14
All works very fine and I have not the 'top' problem anymore. Thank you!! Great Job!

[2016-10-23 07:45] damienleroux commented on #1
Hey,

The last version doesn't work on Firefox.

`translate3d()` second parameter always stays at `0px` in the style of the html tag with class `react-parallax-content`:

[code]

Any idea ?
Regards

[2016-10-23 10:19] rrutsche commented on #1
@damienleroux Thanks for your hint. [v1.0.3](https://github.com/RRutsche/react-parallax/releases/tag/v1.0.3) fixes the firefox issue.

Best regards

[2016-10-23 10:29] rrutsche commented on #1
@damienleroux v1.0.3 did not update the minified files. [v1.0.4](https://github.com/RRutsche/react-parallax/releases/tag/v1.0.4) it is ;-)

Best regards

[2016-10-23 19:58] damienleroux commented on #1
Thank you it works now :)

[2016-10-26 20:10] rrutsche commented on #14
Super! If you find any other issue, let me know.

[2016-10-26 20:10] #14 closed

[2016-11-23 08:20] devdua opened #17 "Access to inline styles of the .react-parallax-background-children class"
Hi

Is there a way to adjust the CSS styles that are used inline when the component renders? The default values are causing considerable clipping in my image file, and I can't seem to find a way to adjust it via any other means. For example, the `left` value has been set as 50% but I see that if I set it to 40% (using the DevTools in Chrome), the image renders almost the way I want it to.

Thanks!

[2016-11-23 23:02] rrutsche commented on #17
Hi @devdua,
thanks for your feedback. I just added a new prop `bgStyle` with version [1.1.0](https://github.com/RRutsche/react-parallax/releases/tag/v1.1.0) that can pass style values to the background layer in addition to the styles that are already set. The existing style props will be overridden. Let me know if this is working for you.

[2016-11-24 07:09] devdua commented on #17
Thanks a lot @RRutsche found no problems so far, this works for me! Cheers!

[2016-11-24 07:09] #17 closed

[2016-12-05 08:23] ateev opened #18 "List React in `peerDependencies`"
Do not to list `react` under dependencies in your package.json. This is why we have peerDependencies.

[2016-12-05 21:17] rrutsche commented on #18
Resolved by pull request #19

[2016-12-05 21:18] #18 closed

[2016-12-08 16:11] saschb2b opened #20 "Background doesn't fill after mount."
The background image does not take the full width after initial load. I have to scroll down a bit to update the component and get full width.

This is a dirty work around we had to make. Maybe there's a better way or a fix.

[code]

[2016-12-08 16:34] damienleroux commented on #20
Maybe this can help you: I have a similar issue in dev mode with webpack de server but not in production mode.

Did you test it in production mode ?

[2016-12-08 16:53] leMaik commented on #20
Looks like kind of a race condition to me... In slow dev builds (due to react debug and validation stuff), the background size is calculated [in componentDidMount](https://github.com/RRutsche/react-parallax/blob/master/src/jsx/Parallax.jsx#L90) but the page width is not known yet, so this fails.

Maybe you could use something like [nrako/react-component-resizable](https://github.com/nrako/react-co

[2016-12-08 21:05] rrutsche commented on #20
Hi @saschb2b,
I could not fully reproduce your issue. I guess it could also be a problem with image width/height on initial `updatePosition` call. Especially when images are in portrait format and img.naturalWidth/img.naturalHeight are still unknown its dimension values are not properly set on initial `render`.
There is already a calculation backup - `updatePostion` is called again on `window.onlo

[2016-12-09 08:41] saschb2b commented on #20
@RRutsche my image is in landscape format.
Natural size is 1280x850 and without this workaround it gets scaled to 1400x930 but the container to fill is 1649x730.

[2016-12-09 21:04] rrutsche commented on #20
Ok. Is the parent container a flex element or an element that resizes after initial render? I have currently no idea how to reproduce it. Or can you provide me with running example?

[2016-12-18 16:30] tomredman commented on #20
Also seeing this issue, but only on Safari. Initial rendering seems to work, but then navigating away and back results in this issue.

Edit: Just caught it on Chrome too, but harder to reproduce.

<img width="1192" alt="screen shot 2016-12-18 at 11 31 07 am" src="https://cloud.githubusercontent.com/assets/4225378/21294856/87446354-c515-11e6-8291-8d29a97b7689.png">

[2016-12-19 21:35] rrutsche commented on #20
@tomredman Good point, also tried it with react-router now and had a similar issue. I will add a `updatePosition` call after background image was loaded. This at least can solve the navigation issue.

[2016-12-19 23:13] rrutsche commented on #20
I just published version [1.2.2](https://github.com/RRutsche/react-parallax/releases/tag/v1.2.2) on [npm](https://www.npmjs.com/package/react-parallax) which should fix the navigation problem. Please try.

[2016-12-19 23:15] tomredman commented on #20
Will do, thanks Richard!

On Mon, Dec 19, 2016 at 6:13 PM, Richard Rutsche <notifications@github.com>
wrote:

--
Tom Redman
Product Manager at Buffer <http://buffer.com>
@redman <http://twitter.com/redman>

[2016-12-19 23:33] tomredman commented on #20
Works great, thanks @RRutsche!

[2016-12-21 08:25] rrutsche commented on #20
@saschb2b Does version  [1.2.2](https://github.com/RRutsche/react-parallax/releases/tag/v1.2.2) also solve your issue?

[2016-12-21 08:41] saschb2b commented on #20
@RRutsche yes! It works now like a charm. Thank you very much

[2016-12-21 08:49] #20 closed

[2016-12-29 17:38] JohnPett opened #21 "Ref Owner Error"
![screen shot 2016-12-29 at 17 37 46](https://cloud.githubusercontent.com/assets/3016847/21549911/91f1a7f4-cded-11e6-8431-e0c7c908fa7d.png)

I get this error when using when using React 15.3.2.

[2016-12-30 10:11] rrutsche commented on #21
@JohnPett Thanks for your feedback. I tried to reproduce this error but unfortunately I can't.
I just cloned a react boilerplate, explicitly installed react 15.3.2 and used the latest Parallax version [1.2.2](https://github.com/RRutsche/react-parallax/releases/tag/v1.2.2).
(npm version = 3.10.9, node version = v6.9.2)
Do you have an example project where this is happening?

[2017-01-09 22:58] rrutsche commented on #21
@JohnPett Is this issue still present? I could not reproduce it.

[2017-01-10 10:01] johnnaumann commented on #21
@RRutsche – I have used a different boilerplate, so the error still exists for me, but maybe something that I have done, I guess.

[2017-01-15 21:32] rrutsche commented on #21
@JohnPett Ok, I will close the issue for now. Just let me know if you have the impression that it's still an issue with the package itself.

[2017-01-15 21:32] #21 closed

[2017-02-04 21:17] cfogelberg opened #22 "Reverse parallax?"
Is there a prop or other setting that enables reverse parallax? The reason for this is to create the impression of a tree growing. By showing (roughly):
- the top 2/3 of my image when the parallax component is fully visible in the browser but positioned at the bottom
- the bottom 2/3 of my image when the parallax component is fully visible in the browser but positioned at the top of the screen

Th

[2017-02-05 22:39] rrutsche commented on #22
Hi @cfogelberg
the current calculation is assuming a positive strength value. But I can improve it so you can have inverse motion direction by a negative value. I let you know when I have made the adjustments.

[2017-02-05 22:58] raffishquartan commented on #22
Thanks Richard that would be handy. I was just mulling it over today and
wondering: would it give that behaviour already using fractional strengths?
(I.e. 0<strength<1). I haven't looked at the code or had chance to to do a
test of that config, so just a thought for now...

On Sun, 5 Feb 2017 at 22:39, Richard Rutsche <notifications@github.com>
wrote:

[2017-02-05 23:09] rrutsche commented on #22
@cfogelberg No, fractional strength won't work. Until now I always took the absolute value of the strength for better calculation of the resulting image height and the max translation. But I implemented a few adjustments that should allow inverse direction now. Using negative strength value should work. New version is published on npm.
Hope it works for you.

[2017-02-09 20:25] rcalabro commented on #8
Loved it! Hope you include in the project =)

[2017-02-12 15:34] raffishquartan commented on #22
Works perfectly thanks, issue can be closed

On Sun, 5 Feb 2017 at 23:09, Richard Rutsche <notifications@github.com>
wrote:

--

[2017-02-12 17:32] #22 closed

[2017-02-18 20:04] rrutsche commented on #8
@YuChunLOL @rcalabro
Good things come to those who wait... hopefully. I just published version [1.2.5](https://www.npmjs.com/package/react-parallax) on npm with dynamic blur effect. You can now also pass an object as `blur` prop in format `{min: 0, max: 5}` - also negative values for min are possible to have better control over the position where blurring should start.
Just tell me if this is what

[2017-03-09 15:49] Bram-Zijp opened #24 "Cannot read property 'children' of undefined"
While having no children in the parallax element you get this error:
`Uncaught TypeError: Cannot read property 'children' of undefined`

[2017-03-10 08:39] Bram-Zijp commented on #24
It actually also happens with children. This line errors:
`value:function(e){var t=[],n=u.default.Children.toArray(e.children);`

[2017-03-10 19:08] rrutsche commented on #24
@Bram-Zijp Thanks for the feedback. Will have a look at the issue.

[2017-03-12 16:00] philbot9 opened #25 "Add a parentNode prop"
Hi there,

First, great work I really like this package.

In one of my projects, the Parallax component lives inside a div with a vertical overflow scroll. However, because the Parallax component attaches the 'scroll' event handler to the window, there is no parallax effect as I scroll the div.

I've created a dirty fix by adding a parentNode prop and attaching the DOM event handlers to it instead

[2017-03-13 08:52] Bram-Zijp opened #26 "White space when image is not high enough"
When on small width screens many images show a white space before entering the parallax wrapper. Might be an idea to calculate extra width needed (on resize) so that there will always be enough height to work with.

[2017-03-14 21:01] rrutsche commented on #8
I will close this issue for now. If there is any problem with the update please feel free to re-open the ticket

[2017-03-14 21:01] #8 closed

[2017-03-14 21:13] rrutsche commented on #24
@Bram-Zijp Which React version are you using? I cannot reproduce the issue. The original line is this one:

```React.Children.toArray(props.children)```

This means React is not defined.

[2017-03-15 08:18] Bram-Zijp commented on #24
I found the issue. It had to do with remainings of another parallax module. I'm sorry for the inconvenience.

[2017-03-15 08:18] #24 closed

[2017-03-21 19:45] rrutsche commented on #26
@Bram-Zijp Do you use the `Background` component or the `bgImage` prop? I thought I covered most of the cases. Can you give me a concrete example so I can check it. Maybe even a minimum working page or at least some values I can work with (image size, container size etc). Thanks

[2017-03-21 19:49] rrutsche commented on #25
Hi @philbot9 thanks for your feedback. Of course I can have look at your idea and check your example implementation.
I will give you a note.
- regards
R

[2017-03-21 20:03] philbot9 commented on #25
Thanks @RRutsche! It turns out my solution is causing some errors. I've come across this package, which solves a similar problem by using a parent function.

https://kyleamathews.github.io/react-headroom/

Form the docs:
"parent — provide a custom 'parent' element for scroll events. parent should be a function which resolves to the desired element."

So I think the solution would be similar.

[2017-04-15 20:30] chez14 opened #27 "Image initial position?"
Can we set an initial position for the image?

like, it start with `top=100px`... so scroll on 100 to something?

[2017-04-15 20:38] onlyongunz opened #28 "Add a bgClassName prop"
I wanted to add a class to the background image, but didn't want to use the `Background` component, since using API should be faster and cleaner.

Example:

[code]
Just because i wanted to remove the background image, now it's removes all of the component.

[2017-04-17 21:22] rrutsche commented on #25
Hi @philbot9!
I just published version [1.2.7](https://github.com/RRutsche/react-parallax/releases/tag/v1.2.7) on [npm](https://www.npmjs.com/package/react-parallax). I did not solve it with a function but with a simple HTMLElement prop. Let me hear if it works for you.

regards

[2017-04-20 01:33] Q-Angelo opened #29 "React-parallax Prompt HTMLDocument is not defined"
Execute the command: npm run dev
The following error:

## ReferenceError: HTMLDocument is not defined

[2017-04-20 07:23] rrutsche commented on #29
Ok, I will have a look. Think it's related to #25.

[2017-04-20 07:25] rrutsche commented on #28
Sounds reasonable. I will add it

[2017-04-20 07:27] rrutsche commented on #26
@Bram-Zijp Is this issue still present? Could you give me some values/setup so I am able to reproduce it? At least browser and image dimensions would be good

[2017-04-20 09:46] qufei1993 commented on #29
When I change the index.js the file,He will be able to work. How to better solve the problem Rather than to modify the file after each installation @RRutsche

[2017-04-20 10:36] drbruddet commented on #29
Hey guys, got the same error, I placed the parallax in a component, when I'm calling it like 2 times it works, 3 times doesn't work, it really random.

[2017-04-20 11:23] qufei1993 commented on #29
Then you need to repair，Site use of this component now

[2017-04-20 20:36] rrutsche commented on #29
@Q-Angelo @guillaumeko The bug is fixed in version 1.2.8.
Please check if it also works for you.

[2017-04-21 06:54] qufei1993 commented on #29
@RRutsche  Good!

[2017-04-21 11:52] drbruddet commented on #29
It seems to work great for me! Thank you very much :)

[2017-04-21 11:55] rrutsche commented on #29
top. thanks. than I can close the issue

[2017-04-21 11:55] #29 closed

[2017-04-21 20:58] rrutsche commented on #28
@onlyongunz Is added in version 1.3.0.

[2017-04-21 20:58] #28 closed

[2017-04-28 13:18] rubenspgcavalcante opened #30 "Support React 15.5"
Now the use of the PropTypes from the react packages is deprecated. React points the use of the prop-types package:

    Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.

Thanks in advance!

[2017-05-02 18:53] #30 closed

[2017-05-05 12:24] rubenspgcavalcante commented on #30
Hey @RRutsche , sorry to open this again, but did you run the build process before publish on npm?
I'm having the same problem with the version 1.4.0 when using the dist. bundle. But when I use directly from the source code (node_modules/react-parallax/srx/jsx/index) runs ok. I've checked the source code and the use of the 'prop-types' packages is there, but I think is not being used in the bundle

[2017-05-05 12:44] rrutsche commented on #30
@rubenspgcavalcante I will have a look later today. Thanks for telling me

[2017-05-07 09:59] rrutsche commented on #30
@rubenspgcavalcante I just built version 1.4.1 which fixes the warning. Problem was that the `prop-types` package was not declared as external in the webpack config and so was also compiled by babel.

[2017-05-07 10:01] rrutsche commented on #25
@philbot9 I will close the issue as you did not have any complaints. Feel free to comment/open if you have any issue with the update.

[2017-05-07 10:01] #25 closed

[2017-05-08 09:00] rubenspgcavalcante commented on #30
Alright! Thanks! :)

[2017-05-12 22:01] tuguScript opened #32 "is blur prop working?"
i've passed blur prop. My background has no change. are you sure it's working?

[2017-05-12 22:28] rrutsche commented on #32
@tuguScript Yes, it is working. Can you show me a snippet so I can see how you are using it? In which browser are you testing?

[2017-05-22 06:26] jaynakus opened #33 "When bgImage set dynamically the size is not properly calculated"
Hi,
I am trying to change image every time the tab changes. But sometimes pictures are not initialized to full size and somehow it is set according to height.
Need help

[code]

[2017-05-23 07:09] rrutsche commented on #32
@tuguScript sorry, but next time please think of:
1. Giving a more detailed error description
2. Answer other questions as you also want to have answers as quick as possible.

I will close this issue. Re-open it if there is still a problem

[2017-05-23 07:09] #32 closed

[2017-05-23 07:12] rrutsche commented on #26
@Bram-Zijp I will close this issue for now as I cannot reproduce this with my images and settings. You can re-open it at any time when you have more detailed information about your setup so I can have a look at this.

[2017-05-23 07:12] #26 closed

[2017-05-31 21:20] rrutsche commented on #33
Hey @jaynakus, sorry for the late response. I will have a look at it

[2017-05-31 21:39] rrutsche commented on #27
Hi @chez14
Sorry for the late response. I will have to try if this is working in practice. It will affect the strength of the translation. And I also have to try if this is working with negative strength values. So in general it should be possible to add some kind of starting point. But I guess there are some cases I need to check before adding a new prop for it.

[2017-05-31 22:16] chez14 commented on #27
Ok, no prob! Thanks!

[2017-06-21 09:26] Bram-Zijp opened #34 "Alt text on image"
Hi, could you add an property with which you can define an alt text?

[2017-06-25 19:36] rrutsche commented on #34
Hi @Bram-Zijp
I just published version [1.4.2](https://github.com/RRutsche/react-parallax/releases/tag/v1.4.2) with a new prop `bgImageAlt`.

[2017-06-29 09:19] Bram-Zijp commented on #34
Hi @RRutsche
Thanks for the new prop, it works like a charm. The guys from the SEO department are pleased :)

[2017-06-29 09:19] #34 closed

[2017-07-07 12:43] rrutsche commented on #33
Hi @jaynakus
I just published version [1.4.4](https://github.com/RRutsche/react-parallax/releases/tag/v1.4.4). The new version updates dimensions and position correctly after bgImage was changed.
Hope this solves your problem.

And sorry that it took so long. There was a lot to do last month :(

regards, Richard

[2017-08-16 14:17] bachrc commented on #33
Thank you for your library, it's really useful !
Though, I have the same problem, even after your last update.

Here's the sample of code :
[code]

`this.state.image` contains the link to the wanted background image, and when I update it, it doesn't scale automatically. However, when I put a static link, it works like a charm.

I tried some things with `<Background>` but nothing concluent..
Thanks

[2017-08-21 21:12] rrutsche commented on #33
Hi @bachrc,
thanks for your feedback. I just created a test case on codesandbox where the image can be changed dynamically. Can you have a look and maybe change it to your needs so the scaling problem is reproducible? This would be very helpful.

https://codesandbox.io/s/j3jl9oxrw9

Thanks, regards
Richard

[2017-08-22 08:40] jaynakus commented on #33
@RRutsche Hey, thanks a lot for solving this issue. Now everything seems smooth.

[2017-08-22 08:40] #33 closed

[2017-10-18 14:06] probedb opened #35 "Any chance of React 16 support?"
[code]

Get this warning when transitioning to react 16. It still works fine from what I can see.

[2017-10-18 14:48] rrutsche commented on #35
I will have a look

[2017-10-18 15:02] ghost commented on #35
Many thanks :) I think it just needs an addition to the peerDependencies

[2017-10-18 19:49] rrutsche commented on #35
I just published version 1.5.0 on npm with updated peer dependencies.

regards

[2017-10-19 14:36] ghost commented on #35
Thanks @RRutsche 👍 👍

[2017-11-06 15:01] ShakurOo opened #36 "Background initial 'transform' style computing not working"
When I use the `<Background>` component to display my cover image, it appears than the initial css rule transform is `transform: 'translate(-50%, 0)'` where `0` must be a computed value.

So when i scroll a little bit, the img seem's to be jumping to its correct position according the parallax effect.

It seems the the position is not correctly compute when the component is mount.

For prevent thi

[2017-11-06 20:20] #35 closed

[2017-11-06 21:12] rrutsche commented on #36
@ShakurOo
Can you give me an example setup where this is happening? I tried to reproduce but could not see the effect your are describing.
You can just fork this project here on Codesandbox: https://codesandbox.io/s/r0yEkozrw

[2017-11-21 13:38] mogelbrod opened #37 "this.content.getBoundingClientRect() throwing error in Mobile Safari"
[This line](https://github.com/RRutsche/react-parallax/blob/ec723c51b6f43a00eb12e75fc1b27b88449c52d8/src/jsx/Parallax.jsx#L207) is reported to be throwing errors on Mobile Safari (v9, v10 & v11):
`TypeError: null is not an object (evaluating 'this.content.getBoundingClientRect')`

Our error logs suggest it's happening during unmount (during route transition). I'm guessing `updatePosition` is being

[2017-11-23 20:15] rrutsche commented on #37
@mogelbrod Thanks for the report. I will have a look a it. Which version of react are you using in your project?

[2017-11-24 08:48] mogelbrod commented on #37
Appreciated!
The current build is running on `react@16.1.1`, but we've been getting reports of the error since October 13 so It's likely present in v16.1.0 (and possibly v16.0.0) as well.

[2017-11-29 15:00] ChCosmin opened #38 "Does this work horizontally?"
Can the parallaxes be set to be side by side and to be moved from left to right(& viceversa) on clicks(/ horizontal scroll)?

[2017-11-29 21:01] rrutsche commented on #38
No, this is not possible with the current version. Maybe an idea for some future release.
Regards

[2017-11-30 22:49] #37 closed

[2017-11-30 22:51] rrutsche commented on #37
@mogelbrod
New version 1.5.1 was just released on npm. It just does an additional check for content node before doing calculations. Hope it solves your issue.

[2017-12-05 18:23] raunofreiberg opened #39 "White space parallax"
[This issue](https://github.com/RRutsche/react-parallax/issues/26) still persists.

![Example](https://user-images.githubusercontent.com/23662329/33623549-0685629a-d9fa-11e7-9ff7-174fc641de76.png)

The more you scroll, the more white space appears from the top.

Example markup:

[code]

CSS
[code]

[2017-12-13 17:03] rrutsche commented on #39
Thanks for the report.
I will try to reproduce your issue. But the first guess is that you should not set `bgHeight `and `bgWidth` explicitly as it overrides the calculated values inside of the Parallax. The Parallax component calculates a height depending on screen ratio and strength prop so it has enough space to move around without white space.
Can you verify that the issue is still there after

[2017-12-13 19:35] raunofreiberg commented on #39
@RRutsche Tried removing both props - issue still persists.

[2017-12-21 10:49] #38 closed

[2017-12-21 11:08] rrutsche commented on #39
@raunofreiberg I just had a look. Your use case is that you don't have anything inside the parallax but only set the style of the wrapping container to a specific height, right? I'm asking because the logic inside calculates position and dimensions depending on its content height. You could just put a container inside the parallax component that has a specific height.
But to be clear about my assu

[2018-02-13 10:45] zespolkropkanadi opened #40 "Image onLoad listener added, but not removed while component unmounts"
Hi,

Please take a look [here](https://github.com/RRutsche/react-parallax/blob/master/src/modules/Parallax.js#L257). This line of code adds onload event listener to image, which is setting Parallax component state. But when component unmounts (f.e. when changing route) listener is not detached, which causes error:

`Warning: setState(...): Can only update a mounted or mounting component. This usua

[2018-02-15 23:02] rrutsche commented on #40
Thanks for the report. I will have a look.

[2018-02-18 21:11] rrutsche commented on #40
The 1.6.1 release should fix the issue

[2018-03-26 08:37] carterchung opened #41 "Responsive image optimization for mobile?"
Perhaps add support for srcset? Hoping to get the images to load faster on mobile.
https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images
I'd be happy to help if you think it's worthwhile.

[2018-03-27 08:09] rrutsche commented on #41
Hi, thanks for the request. I will have a look at it and get back to you. Think this should be doable with not to much effort.

[2018-03-28 03:34] carterchung commented on #41
Thanks @RRutsche. I added a PR for reference:
https://github.com/RRutsche/react-parallax/pull/42

[2018-04-08 17:54] #40 closed

[2018-04-08 17:54] #39 closed

[2018-04-08 17:55] #36 closed

[2018-04-15 21:04] rrutsche commented on #41
I merged the pull request
https://github.com/RRutsche/react-parallax/pull/42 with some comments. Hope this is working for you now.

[2018-04-15 21:04] #41 closed

[2018-04-15 22:24] rrutsche commented on #41
Forgot to say - it's also published on npm - version 1.7.0

[2018-05-01 14:38] rohanleach4 opened #44 "Button click or menu"
Is it possible to add a button to scroll to another section?

[2018-05-02 12:15] rrutsche commented on #44
I think this should not be part of this package. If you want to add scrolling to a specific section on click you could use the package `react-scroll`. The parallax component is just a wrapper. You can add anything you want. Here's a basic example: https://codesandbox.io/s/rym8yvx7m.
Maybe this helps you?

Regards

[2018-05-02 14:08] rohanleach4 commented on #44
Thanks :-)

[2018-05-06 20:25] #44 closed

[2018-05-12 19:57] cknific commented on #27
This would be great! +1

[2018-05-15 02:45] quangdng opened #45 "Scrolling a bit jittery in Safari mobile"
Hi mate,

Thanks for the great component. Just a bit of issue here with the Safari mobile scrolling (<=iPhone 7) seems to be a bit jittery and I can't seem to figure out what is the root cause of the issue.

Please let me know if you have any idea.

Cheers,
quangdng.

[2018-05-17 19:30] rrutsche commented on #45
Hi,
thanks for the report. I already investigated some time a while ago and added some css attributes like `WebkitTransformStyle : preserve-3d` and `WebkitBackfaceVisibility : hidden` and it did help on some of the devices. But obviously it's not fixed yet.
I will have a look at it again and let you know if I find something.

Cheers

[2018-05-28 02:50] bhaktap opened #46 "Add Dynamic Brightness filter"
I am trying to use this project in one of our latest websites and found that the brightness filter is missing. Feature request: The background image should get darker/lighter while scrolling the page enabling the foreground text appear better. This similar to blur feature except the filter is on brightness with min and max. It would be even great if we can achieve with a custom color with alpha. P

[2018-05-28 21:07] rrutsche commented on #46
Hi.
I will have a look at this brightness filter. Sounds like a good idea.
Can you give an example for your custom color idea?

Cheers, Richard

[2018-05-28 21:53] bhaktap commented on #46
Brightness makes the image darker with blackness. Sometimes users might
extend this functionality with a custom rgb color with alpha so that it can
render fading effect in any color.

for example you can accept separate properties for background alpha...

<Parallax fadeRGBColor="<#color to be converted to separate rgb values
later>" fadeAplhaMax="0.9">

...
//css code; here 0.3 is dynamic from 0 t

[2018-06-18 23:03] IevgenNov opened #47 "reference error when react specified as external"
If download react-parallax and react from CDN "ReferenceError: react is not defined" appears
**webpack.config.js**
[code]

[2018-07-02 20:55] rrutsche commented on #47
Hi, did you include `react` in your project dependencies? Or what does your project setup look like?
The idea of excluding this library from the package is that you should install the `react` version of your choice (just once for the whole project) and of course keep the parallax library small.

[2018-07-09 01:26] Jatapiaro opened #48 "Is there a way to resize the image?"
When I resize the view, the image don't resize, it just move from left to right.
Is there a way to archive the following effect?: http://santander-universidades.herokuapp.com/santander_universidades_que_es.html

In the following page, try to resize the page and see how the red banner moves.

Thanks.

[2018-07-16 19:28] rrutsche commented on #48
Hi,
The image size will be adjusted on window resize so that it always covers the parallax content.
You could try to set the parallax content height relative to the window width, maybe with a percentage value. This way the image should get smaller. But I fear it won‘t have the exact same behavior as in your example.

[2018-07-17 09:08] Jatapiaro commented on #48
I'll give it a try, but how can I do It?
As is a repeated component in the page I did the following component

import React from 'react';
import { Parallax } from 'react-parallax';

[code]

The css of it is the following:

[code]

Thanks

[2018-07-17 16:36] rrutsche commented on #48
Looks like you want to have a fixed height, right?
I have an idea how to achieve the behavior you asked for. I just created a little example on codesandbox: https://j2x4706219.codesandbox.io/.
You have to use square images or at least images that have a ratio closer to 1x1 (or even portrait format).
This is the code: https://codesandbox.io/s/j2x4706219

[2018-07-22 16:02] rrutsche commented on #48
@Jatapiaro Did you have a look at the example above?

[2018-07-22 16:21] rrutsche commented on #46
Hi, sorry for the late response - I had an idea to implement a more generic way for your feature request. We could add a new `renderProp` (like described here https://reactjs.org/docs/render-props.html) that passes some kind of percentage value. This way you could implement your own layer.
[code]

The layer would be rendered on top of the image but below the actual parallax content. Do you think y

[2018-07-22 20:48] bhaktap commented on #46
I guess second option is better because ideally we want to hide the image
completely while the parallax move away from viewport.

On Sun, Jul 22, 2018, 9:21 AM Richard Rutsche <notifications@github.com>
wrote:

[2018-07-23 05:52] Jatapiaro commented on #48
Yeah, thank you so much for your help.
Now I'm just talking to the designers to get all the images in the right format.

THANKS!

[2018-07-23 15:00] #48 closed

[2018-07-28 16:37] rrutsche commented on #46
Okay, I have implemented something but need some time to test and publish it as I'm on vacation now. Think I will publish it in about 3 weeks.
However if you want to test it you can install the package from the github repository itself, branch `renderlayer`. There is a new render prop called `renderLayer` that can be used as shown above.
Hope this helps.

cheers
Richard

[2018-08-16 06:33] vpste1 opened #49 "backgroundPosition not having any effect"
I can validate bgStyle is working (by adding a margin to the background image for example), however trying to use backgroundPosition fails to have any effect.

I have a large image and trying to centre it and have tried "center center", "50% 50%", etc. with many variations and the image never shifts.

[2018-08-22 09:46] rrutsche commented on #49
Hi, as the image is no background image but an <img/> backgroundPosition won't have any effect.

[2018-09-12 21:09] rrutsche commented on #46
@bhaktap Sorry for the delay - but it's live now with version 2.0.0

[2018-09-12 21:10] #47 closed

[2018-09-12 21:11] rrutsche commented on #49
If you still have questions feel free to reopen the ticket.

[2018-09-12 21:11] #49 closed

[2018-09-14 01:18] bhaktap commented on #46
Sure will download new version.

On Wed, Sep 12, 2018 at 2:09 PM Richard Rutsche <notifications@github.com>
wrote:

[2018-09-29 01:07] danielnuwin opened #51 "Parallax Effect On Div or Component"
Is it possible to use the effect if I don't use a background image but just the content of a component?

[2018-10-02 16:30] chargome commented on #45
Hi!

Any solution to this one?

[2018-10-03 21:10] rrutsche commented on #51
You can use the `Background` component and insert it as a child of the `Parallax`. Anything that is placed inside it will have the parallax effect.
[code]
The general positioning of this `Background` component is not as exact as the normal background image but you could give it a try.
The other option is to use the new `renderLayer` prop. It has a parameter with the actual relative position. So yo

[2018-10-03 21:12] rrutsche commented on #46
I will close this for now. Feel free to re-open this ticket for further discussions.

[2018-10-03 21:12] #46 closed

[2018-10-18 10:20] Toonshorty opened #52 "Set parallax to fill container"
I have a flexbox with two elements at 50% width each, one is a div with text content (dynamic height) and the other is the parallax image. I have configured it so that the parallax container will be the same height as the text content. I have applied a flex-grow style to the parallax container which works fine, but the image size is based on the content (.react-parallax-content) size, which doesn'

[2018-10-22 21:52] rrutsche commented on #52
Hi.
Thanks for the codesandbox example. It's really helpful to get into the topic, thumbs up.
Hi will have a look and probably add a new classname prop for it. I'll let you know when I added it.

greetings

[2018-10-22 22:31] rrutsche commented on #52
v2.0.1 introduces a new prop `contentClassName`, is live and can be used.

greetings

[2018-10-22 22:31] #52 closed

[2018-10-31 02:28] ghost commented on #27
I agree +1

[2019-01-16 20:27] xbreid commented on #45
Hello, looking for an update here if any.

[2019-01-22 21:36] rrutsche commented on #45
Hey guys, I just tested on my device and it scrolls without flickering. Can you tell me which device and OS you are using. My device is in fact very old - iPhone SE - but has iOS 12.1.3 on it.

[2019-01-22 21:37] #51 closed

[2019-01-27 14:20] ergunpp opened #55 "Parallax effect not working at all"
Hi,
I am using the plugin with gatsbyjs and react. The image displays fine but the parallax effect is not working, the image is just static.

My code is below:

[code]

Appreciate if you could point me in the right direction. Thanks in advance everybody!

[2019-01-27 22:35] rrutsche commented on #55
Hi, I just tried your code without the `StaticQuery` wrapper and it looks as expected. Can you create a CodeSandbox example page that is showing the wrong behavior? You can use this page as base: https://codesandbox.io/embed/r0yEkozrw. This would help a lot.
Thanks

[2019-02-12 21:38] romangorelik commented on #55
I had an issue with it as well. It doesn't work on my app but it works in the sandbox environment. Does it have to do with different React versions? I am on 16.4

    import React from 'react'

    /* Components */
    import Navbar from './Navbar.jsx'
    import Description from './welcomepage/Description.jsx'
    import { Parallax } from 'react-parallax';

    const img = 'https://images.unsplas

[2019-02-13 14:37] rrutsche commented on #55
@romangorelik Hm, it should work with other react versions. I just pasted your snippet into the code sandbox and gave it the latest react and react-dom versions and it looked okay. Do you have a running example where I can have a look at?

[2019-02-15 06:45] pvaritta opened #56 "Image parallax on device is not working correctly"
After upgraded to version 2.1.0
When open on device with disabled parallax, bgStyle props is not working
that why background image is not responsive

"react": "16.5.1",
"react-dom": "16.5.1",
"react-parallax": "2.1.0",

![image](https://user-images.githubusercontent.com/18564575/52839206-d0518600-3127-11e9-9971-d3c05a22349c.png)

![image](https://user-images.githubusercontent.com/18564575/52839163

[2019-02-15 21:43] rrutsche commented on #56
I'll have a look at this

[2019-02-17 21:56] rrutsche commented on #56
I see you are setting the `bgStyle` attribute but I assume you want to change styles on the background image, right? `bgStyle` is for the `Background` component. Maybe you want to use `bgImageStyle`?

[2019-02-20 12:55] ergunpp commented on #55
Hi, I have a running example you can look at: http://chefs-test.s3-website.eu-central-1.amazonaws.com/

[2019-04-01 11:09] pvaritta commented on #56
Hi RRutsche,
Thanks for your answer but I still have the same issue even if I use bgImageStyle instead of bgStyle
Here is my new code that I config `bgImageStyle: { objectFit: 'cover'}` I found that width and height are disappear from the style. But the previous version, width and height are auto generated(depend on device)

**My point is how do I handle this or do you have any suggestion to solve

[2019-07-30 12:44] kaleabmelkie opened #57 "Need support for TypeScript React projects"
It'd be really nice to have static types, at least for the core features of the library.

[2019-08-07 07:29] rrutsche commented on #57
I'm currently very busy but I will have a look into it soon.

[2019-09-09 14:24] jhochgreve opened #59 "Console Warning"
Getting the following console warning when using this package in the latest version of NextJS:

Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.

[2019-09-09 20:52] #59 closed

[2019-09-28 22:25] luismramirezr opened #62 "Can't use dynamic blur"
I can't make the dynamic works as expected.

When:

- {min: 0, max: 100} or {min:100, max:100}, the image is always blurred;
- {min: -100, max:100}, {min: 0, max:-100}, {min: -100, max:0}, the images doesn't blur;
- {min: 100, max:-100}: the images is blurred but as I scroll the blur is dynamically removed

React:

[code]

SASS:

[code]

[2019-10-01 11:27] rrutsche commented on #62
Hm, just setting it like `blur={{ min: -1, max: 3 }}` should work. I think your values are far too large.
And did you already have a look the the [example on codesandbox](https://codesandbox.io/embed/r0yEkozrw?view=preview)? Maybe you can fork this project and try to reproduce your issue? When you forked it, just send me the codesandbox link so I can have a look.

[2019-10-03 23:27] luismramirezr commented on #62
I did tried smaller values. Those large values were only for testing, as I couldn't notice the blur in the image. I will try what you said and let you know.

Thank you

[2019-10-05 08:37] rrutsche commented on #57
Hey again, just wanted to let you know that typescript is on its way. It‘s basically finished and just needs some testing.

[2019-10-05 08:43] kaleabmelkie commented on #57
That's great news.. thanks!

[2019-10-08 21:13] rrutsche commented on #57
While testing goes on you can already install the release candidate if you want.
`yarn add react-parallax@next`

[2019-10-10 08:55] ReinBentdal opened #64 "Uncaught TypeError when using React Router"
When i initialy load the page everything works as expected. But when i go to a new page using `react-router-dom` an error occurs in the console:
[code]

the code where the error occurs (7. line):
[code]
I guess the error has something to do with the Parallax widget getting disposed.

[2019-10-11 12:21] rrutsche commented on #64
I will probably add some additional test there to check if the element really exists.

[2019-12-04 23:23] davwheat commented on #64
This is a really annoying issue. Any update on when this will be patched?

[2019-12-08 20:35] dmatora opened #65 "behaves differently on different screen proportion"
doubling window height makes parallax strength twice lower

![image](https://user-images.githubusercontent.com/647062/70395774-54585f80-1a13-11ea-9201-28f7f076d613.png)

I would expect background image to be entirely visible when you scroll through the page (which would adjust strength dynamicly based on window height/width ratio, or would just calculate percentage differently)

right now is stren

[2019-12-08 21:47] rrutsche commented on #64
@davwheat I will have a look at it. Did not find time so far. It would really help me if you guys set up an example where this issue occurs - maybe on codesandbox (just use the link in the readme and fork the project). Otherwise I end up adding many ifs and else without knowing the real cause.
Thanks

[2019-12-10 23:11] #64 closed

[2019-12-10 23:30] rrutsche commented on #62
I close this one. Feel free to reopen if you have any further problems.

[2019-12-10 23:30] #62 closed

[2019-12-10 23:31] rrutsche commented on #57
Typescript is in `master` now and also published with version `3.0.0`

[2019-12-10 23:31] #57 closed

[2019-12-11 09:47] kaleabmelkie commented on #57
Thank you. I'll upgrade now.

[2019-12-19 22:52] rrutsche commented on #65
Can you create an example on codesandbox and describe the steps to reproduce? This would help a lot.
Thanks

[2019-12-19 22:54] rrutsche commented on #56
Almost forgot this one, sorry.
Did you solve your problem? Otherwise please just create an example implementation on codesandbox which reproduces the issue so I can have a look at.
Thanks

[2019-12-22 15:50] kaleabmelkie opened #67 "Basic state update broken (or late) for child elements"
**Bug**

I have a simple controlled `<input>` as a child of a `<Parallax>`. The state update for the input is broken.

Characters have to be entered twice and the only the previous ones appear (i.e. it's late by one entry). And if the new character is the same as the previous one, it behaves even more weirdly.

[code]

I'm using the v3.0.0.

[2019-12-24 18:04] sorokinvj opened #68 "Uncaught TypeError: Super expression must either be null or a function"
hey guys!

So, I spend a couple of days building a landing page with react-parallax, and everything went fine, but when I deployed the bundle strange Error happened:

[code]
I don't know what causes the error, but I double checked everything – and it is certainly something with react-parallax lib, and doesn't really depends on OS – same thing is happening on my prod server (Ubuntu) and local machi

[2019-12-26 22:22] rrutsche commented on #67
That is due to a recent change from `componentWillReceiveProps` to `componentDidUpdate` I think. Have a solution in mind and will fix it soon.

[2019-12-26 23:15] #67 closed

[2019-12-26 23:26] rrutsche commented on #68
Hi,
glad you use the package.
Can you provide some more info about your system and/or setup? It is really hard for me to get an idea without more info. Are you using next.js, or do you bundle it with a custom webpack configuration? Such things would be very helpful.
Maybe you can provide a minimal repo or a codesandbox setup (see description in readme)?
Thanks

[2019-12-26 23:31] rrutsche commented on #55
Hi, I'm late but: please provide a running example where I can see implementation details. It does not help a lot when I see a page that loads bundled js files. Maybe you already fixed this (or use a different library) but next time it would help a lot.
I will close this issue but feel free to re-open it if the issue still exists.
Thanks

[2019-12-26 23:31] #55 closed

[2019-12-28 16:01] sorokinvj commented on #68
Sure!
I will do repo today later, in the meanwhile
this is my package.json
Its basically Create React App, React-Router with Apollo server

[code]

[2019-12-28 19:53] sorokinvj commented on #68
Here is the repo – https://github.com/sorokinvj/test-react-parallax

Just build it locally
[code]

and serve locally with
[code]

[2020-01-03 02:22] sienatra commented on #68
I'm also having the same problem here using nextjs. Works perfectly in development mode, but spitting out an error when the production build is run.
<pre>TypeError: Super expression must either be null or a function
    at index.js:1
    at index.js:1
    at Object.Otrq.e.exports (index.js:1)
    at n (index.js:1)
    at Object.Otrq.e.exports (index.js:1)
    at n (index.js:1)
    at Otrq.e.export

[2020-01-03 17:03] rrutsche commented on #68
Thanks for the repository link. I could reproduce it. I will also try it with a nextjs setup. Think it is due to an uglify/terser issue. Don‘t know which one cra and nextjs is using but I saw some issues on their repositories that look similar.
I will investigate.

[2020-01-03 22:02] rrutsche commented on #68
So I found a solution. It was a `terser` plugin configuration issue. I added the `keep_fnames` option to prevent function/class names getting mangled during production builds. Fix is in version `3.0.3`.
I'm happy about a note if the solution works for you guys.

[2020-01-03 22:08] sienatra commented on #68
Updated to `3.0.3` and it seems to be working perfectly. Thanks!

[2020-01-03 22:13] rrutsche commented on #68
Closing the issue now. Feel free to reopen it if there is still related problems.

[2020-01-03 22:13] #68 closed

[2020-01-13 16:32] sorokinvj commented on #68
Thanks!!!! Works perfectly now and mobile is awesome!

[2020-03-25 12:54] Nadjakoroleva opened #71 "bgImageSrcSet"
Hey Richard,

could you please tell me what syntax should I use for bgImageSrcSet?

Thank you ,
Nadja

[2020-03-28 09:36] millturnK opened #72 "Background image cut doen"
Hi, thanks so much for developing this.
No matter how much I change the various attributes passed into the parallax, I only see a section of my background image.
What do I set to see it in full please?
Are there recommended image dimensions?
Many thanks
Katie

[2020-03-30 08:50] rrutsche commented on #72
Hi.
A common mistake is that the content (`children`) of the parallax component has not enough height. The height of the image is based on the content. You can check an implementation example here: https://codesandbox.io/embed/r0yEkozrw. If you don't have enough content, you can also set a fixed height:

[code]
If this does not solve your issue please send me a minimal example I can have a look at

[2020-03-30 08:53] katie-anne-mills commented on #72
Vielen Dank, Richard! I have shifted to using a carousel but will make a note of this for next time :-).

[2020-03-30 08:53] rrutsche commented on #71
Hi,
syntax description is missing in the description, I should add it. You can pass everything that is officially supported. See here: https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images. This can also be combined with `bgImageSizes`

[2020-03-30 09:02] rrutsche commented on #72
Okay, good luck.

[2020-03-30 09:02] #72 closed

[2020-04-10 19:57] TommyLeong opened #73 "Poor rendering result (Text missing)"
**Describe the bug**
Used Parallax in my homepage, so I have total 4 `<Parallax>` at the same screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Append 4 images (im using Dimension 640 * 360, Resolution 72 * 72)
2. keep scrolling up and down in the screen
3. When you are at bottom of screen, do a quick scroll back to the top of screen
4. Text within the `<Parallax>` is half missing/disa

[2020-04-23 20:57] rrutsche commented on #73
Sorry for the late response. I will have a look at it soon.
Thanks for the detailed description but it would be very cool if you could provide a running example in a repo or codesandbox.

[2020-04-23 20:58] #71 closed

[2020-04-25 16:55] seblaz commented on #27
Would be nice +1

[2020-07-11 07:12] xstable commented on #27
Any progress here?
Not 100% sure, if thread-opener means this, but I found that the image doesn't start at the same position if you have different Screen-width:
![screenshot_ 9_09_55](https://user-images.githubusercontent.com/1778068/87218806-6a861f80-c356-11ea-91dc-3b32000904b4.jpg)

I would love to see that there is an option to place the Image to define where it should be start if the Parallax-

[2020-08-04 21:27] #65 closed

[2020-08-04 21:27] #56 closed

[2020-08-30 10:23] KotoriK opened #78 "Laggy on Safari iOS while 'strength' props is too high"
**Describe the bug**
Laggy on Safari iOS while 'strength' props is too high. In my test, it starts happening while the value is higher than 250, and lag becomes significant while the value comes to 500.
**To Reproduce**
The first image in The Demo you provided performs laggy on Safari iOS. Its 'strength' prop is set 500.
**Expected behavior**
Smooth animation on Safari iOS.
**Screenshots**
If appl

[2020-09-01 20:12] rrutsche commented on #78
Sounds familiar, I could reproduce it on my phone. Could be a duplicate of #45, right?
I already tried some css workarounds in the past to get rid of this jittery scrolling behaviour - obviously with limited success.
Maybe I have to try again...

[2020-09-03 18:10] KotoriK commented on #78
Seem like a tough problem. I think it might be caused by mobile browsers' performance-power balance strategy because my Android friend met same problem.
Meanwhile, I doubt the way React rerender components might also be a cause of the Laggy.
But I found some other libs can handle bouncing properly, for example react-spring. Maybe we can find out how they deal with it.

[2020-09-10 12:02] rrutsche commented on #27
Hey folks, sorry for the delay.
This issue is open for quite a while and I don't really know if it's worth to introduce such an initial position. Maybe let's discuss your use cases so I can understand a bit better. Because from my understanding the "initial position" would be the starting point when the image enters the screen while scrolling (bottom of viewport). But is this really what it is mea

[2020-09-10 12:05] rrutsche commented on #73
Does the issue still exist? If yes - please provide a minimal example e.g. on codesandbox.

Thanks

[2020-09-11 03:10] TommyLeong commented on #73
Hi @rrutsche,I have not use this library quite sometime. Won't be providing a codesandbox for this moment, shall we just close case until I provide you codesandbox? (:

[2020-09-11 08:46] rrutsche commented on #73
Sounds like a plan

[2020-09-11 08:46] #73 closed

[2020-09-16 15:44] xstable commented on #27
Seems to be better now with 3.0.4-rc.0

[2020-10-02 14:11] alsantos123 commented on #27
Having same than @xstable.

3.0.4-rc.0 was exatcly what I needed.

Thanks.

[2020-10-05 08:58] cheesecase opened #81 "Background image is not scaled if the "disabled" property is set by default."
**Description**
The background images are not scaled if the "disabled" property is set by default.
For example, if a "reduced motion" version is to be provided for better accessibility, the component should look exactly the same as when the scrolling effect is activated.

**To Reproduce**
Set "disabled" prop to "true" by default.
See lines 178 and 206 in Parallax.tsx
https://github.com/rrutsche/re

[2020-10-16 01:07] wallaceturner opened #82 "repeat background image with no stretching"
I am using a textured background with a height of 400px and am using on a page which is 4000px.
when i do

[code]

the background image does not repeat and it is stretched. Is there a way to repeat the image instead of stretching?

I note the implementation appears to use an `<img>` element so I do not know if this will be possible?

[2020-10-16 10:05] rrutsche commented on #82
Yeah you are right. This won't work. You could use the `renderLayer` prop and implement your own transform:
[code]
Or you can use the `Background` component
[code]

[2020-10-16 13:06] wallaceturner commented on #82
I am trying your second approach. I have some content that is displaying correctly *prior to wrapping it in `<Parallax>`

[code]

[code]

this all works fine (but no parallex)

I then wrap my content in Parallex: this element is the root of the page effectively - it wraps ALL page content

[code]

and the output is a blank (white) page!

I can see my content it is in the DOM but neither the Parall

[2020-10-16 14:28] rrutsche commented on #82
Can you just create a minimal example on codesandbox? Just fork from the link in the readme. Otherwise I cannot give you a good answer.

[2020-10-18 23:07] wallaceturner commented on #82
[Working](https://codesandbox.io/s/priceless-hertz-6j07p?file=/index.js)  (but no Parallex)

[Not working](https://codesandbox.io/s/condescending-jepsen-3ej27?file=/index.js)

Basically one is wrapped in `Parallex/Background` and the other is not - the working example provided just to show the background image is working/referenced correctly.

When resolved I could create a PR for you to add to ex

[2020-10-23 06:40] wallaceturner commented on #82
hi @rrutsche are those examples suitable?

[2020-10-25 21:53] rrutsche commented on #82
hi @wallaceturner,
the example you posted is not configured properly:
First of all you nested two `<Background />` components. I did not try this before but I think this will not work. Also you added the `backgroundImage` styles twice - to the `<Background />` and also to the underlying `div`.
But the main thing that makes the example not working is the missing content inside the `<Parallax />`. Y

[2020-10-25 21:55] rrutsche commented on #82
I also added an example to my original sandbox snippet.

[2020-10-25 22:40] wallaceturner commented on #82
hi @rrutsche thanks for that - re: my examples sorry about that I dont know what i was doing nesting the `Background`

The `style` attribute requires a height and width - this assumes you know the page height in advance or it seems you can just set it to a large number (say 10,000px) without affecting the actual page but allowing for future increases in actual page height

[2020-10-26 09:40] rrutsche commented on #82
Yeah using fixed values is not the best solution, it was just an example. But you can always use e.g. viewport width/height.

In case of `height` this should probably be a value bigger than the height of your parallax section. So if the parallax covers the whole screen for example, you should  use a value bigger than `100vh` depending on the strength you use.

[2020-10-27 09:33] rrutsche commented on #82
I think this can be closed right? Feel free to reopen the ticket if there is any issue related to this one.

[2020-10-27 09:33] #82 closed

[2020-10-27 09:40] rrutsche commented on #81
Yes, you are right. I will have a look.

[2020-11-16 14:45] Pareder opened #83 "Image onLoad callback"
**Is your feature request related to a problem? Please describe.**
I have a problem with calculating the time when image was totally loaded.

**Describe the solution you'd like**
Add additional property `onLoad` and use it as a callback in `this.bgImageRef.onload`.

**Describe alternatives you've considered**
Also you can pass all non registered properties to `img` tag, so the user could pass `onL

[2021-01-02 01:01] ahamideh18 opened #86 "Making Parallax Banner 100vh and overflowing content."
I am attempting to make a Parallax banner with a transparent Navbar. I cannot figure out how to make the Parallax banner cover 100% of the screen (100vh).

Also, since I am using a Bootstrap Navbar that can collapse and expand on smaller screens, when the Navbar dropdown is expanded, the content of the Parallax overflows the banner.

![image](https://user-images.githubusercontent.com/54807699/1034

[2021-01-03 10:21] rrutsche commented on #86
Hey, thanks for the codesandbox. I will have a look what's going wrong there.

[2021-01-03 10:26] rrutsche commented on #83
Hey, sorry für the late response - I think an onLoad callback would be the best. I will have a look at this in the next few days.

[2021-02-02 23:51] zenflow opened #87 "Question: What is `percentage` in the `renderLayer` callback?"
This might get labeled a feature request but it's more like a question.
To frame it as a feature request we could say this could be an enhancement to the documentation

What is `percentage` in the `renderLayer` callback?
I know it's a "percentage value of the current position" (as the documentation says) but how exactly (or generally) does it represent the current scroll position?
What is it a "pe

[2021-02-05 02:53] pcdependency opened #88 "Ability to change scroll container"
**Is your feature request related to a problem? Please describe.**

This is just requesting the ability to change the scroll container that the parallax observes.

**Describe the solution you'd like**

A prop that can be passed a ref/className of the overflow container with scroll capabilities.

**Describe alternatives you've considered**
Other parallax libraries.

**Additional context**
Example:

[2021-02-08 21:52] rrutsche commented on #81
This one was open for quite a while. Sorry for that.
But it's fixed now. You can check version v3.2.0 if you like.

I'm going to close this issue. Please reopen it if there is still some issues.
Cheers

[2021-02-08 21:52] #81 closed

[2021-02-21 13:22] frozar opened #89 "Compatibility with react 17.0.1"
**Describe the bug**
The current version of `react-parallax` is not compatible with latest version of react `17.0.1`.

**To Reproduce**
Steps to reproduce the behavior:
1. Type command: `npx create-next-app react-parallax-issue`
2. Go to directory react-parallax-issue: `cd react-parallax-issue`
3. Try to install react-parallax: `npm i react-parallax`
4. You should get this error message:

[code]

[2021-02-21 15:18] rrutsche commented on #89
Should be fixed in version `v3.2.1`. I just published it on npm.
If there is still an issue feel free to reopen the ticket.

[2021-02-21 15:18] #89 closed

[2021-02-21 15:21] rrutsche commented on #88
Hey, sorry for the delay. Isn't the `parent` prop the one you are looking for?

[2021-02-22 11:27] frozar commented on #89
Wow, you're super reactive, thank you for the update, it works on my side.

Just to let you know, when I install react-parallax on my fresh new repository, I get the following warning messages:
[code]

[2021-02-25 20:07] rrutsche commented on #89
Yeah thanks for the info 👍🏼. I will have a look.

[2021-02-25 20:21] #27 closed

[2021-03-02 22:29] GBrachetta opened #91 "iOS issue: Parallax image non responsive"
I want to achieve the following result in desktop view (two Material Ui Grids, the top one with the parallax on the left, the lower one on the right):

![1desktop](https://user-images.githubusercontent.com/57924268/109722631-3ee9cb00-7bad-11eb-9afe-8fadacf1d7b1.png)

and this on mobile view:

![1mob](https://user-images.githubusercontent.com/57924268/109722753-6e98d300-7bad-11eb-80cf-c9b976cb1124.

[2021-04-07 08:41] galilmori commented on #55
@rrutsche   I have realized that if you hide the overflow in the "html" or "body" tag and set it  to auto on the parent div of the parallax , the parallax wont work. It is sometimes necessary to do such css so it might be a good idea to "liberate" the parallax from the "body" "html" tags and give us an alternative to use a ref?

[2021-04-07 09:00] galilmori commented on #55
here is the sandbox: https://codesandbox.io/s/sharp-matsumoto-zdsgd?file=/app.css

[2021-04-21 19:21] rrutsche commented on #91
Hey, sorry for responding late. Looks like you already have some running code. I'd like to help but cannot unless I have a project I can play with. Can you put a basic setup in a codesandbox? Then I could have a look.

[2021-04-21 19:36] rrutsche commented on #87
Hey, sorry for the delay. This is a tricky question. You might have seen, that the behaviour changed at a point. Originally the percentage (or range) from 0 to 1 behaved differently. It was 0 at the point when the component enters the screen at the bottom. So the anchor for the calculation was at the very top of the parallax container. While scrolling further the point shifted until it was at the

[2021-04-21 19:53] rrutsche commented on #86
I know I'm late (sorry) but I just had a look at your example. I also saw some strange behaviour in the codesandbox but when I clicked on "Open in new window" it worked just fine. I forked and adjusted your example a bit so you don't have to use the background component: https://codesandbox.io/s/parallax-navbar-example-forked-njbl2?file=/src/App.js.
The error that is shown in the Codesandbox conso

[2021-04-21 20:47] rrutsche commented on #83
The latest version `v3.3.0` now has an `onLoad` callback you can use.

[2021-04-21 22:46] hamideha commented on #86
Yea, you're right. I'm guessing it's an issue with the codesandbox viewer then. I ended up using a different library but thanks anyways!

[2021-04-21 22:46] #86 closed

[2021-04-29 18:01] haZya opened #96 "White space due to translate3d y parameter not resetting to 0px when scrolling to top fast."
**Describe the bug**
Same issue as #39 (Probably)
A white space appears if I scroll fast using the scrollbar on the browser rather than using the mouse scroll. The area of whitespace seems to be proportional to the strength attribute of the Parallax.

**To Reproduce**
This can be reproduced with the [codesandbox demo]( https://codesandbox.io/s/r0yekozrw?from-embed=&file=/index.js).
Scroll to the t

[2021-05-26 13:01] #83 closed

[2021-09-05 12:39] sametyildizeli opened #107 "Parallax image is not responsive"
Hello,

Height of the image is not responsive when i lower the width pixels, the component gives white spaces on the top and bottom sides beucase i need to give a height parameter for image.

[2021-09-05 12:52] #107 closed

[2021-09-05 12:53] sametyildizeli commented on #107
i've fixed with this
"  background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: calc(40vw - 10vh);"

[2021-09-05 18:19] rrutsche commented on #107
Great to here that you fixed it.

[2021-09-23 22:56] lucas-santosP commented on #88
@rrutsche  But what would be the syntax to use the `parent` prop? I'm searching an example in the docs and issues here but I didn't found it. I'm trying to use with Typescript and I'm having to do a `querySelector` and type assertion to `HTMLElement`, which is working but I don't know if it's actually correct.

[code]

[2021-10-04 19:47] rrutsche commented on #88
Hey. This kitchen sink has an example implementation: https://github.com/rrutsche/react-parallax/blob/master/src/kitchensink/p3.tsx#L76
Does this help?

Cheers

[2022-01-15 19:10] Filippinifra opened #111 "Image background (wide ones) is not responsive for phone"
**Is your feature request related to a problem? Please describe.**

Image background (wide ones) is not responsive for phone

**Describe the solution you'd like**
I think the best solution should be use a div `with background image, background-size: contain; background-repeat: no-repeat; background-position: center;` instead of img tag

**Describe alternatives you've considered**
Make javascript r

[2022-01-18 23:46] ghost commented on #111
I'm having the same issue with this, I can make it look good at one screen size, but then if I look at it at any other screen size or a mobile/tablet, the dimensions of the image are all messed up.

[2022-01-23 20:29] rrutsche commented on #111
Hey guys, thanks for the report. Can you send me a sandbox link (maybe fork this one https://codesandbox.io/embed/r0yEkozrw) or a link to a fiddle or something?
Would help a lot, thanks.

[2022-01-24 19:10] ghost commented on #111
I think my issue was I was using an internal element to set the parallax height, I've sorted it now, thanks.

[2022-04-27 07:05] MahdiMbarki opened #116 "Package installation using npm"
**Describe the bug**
Cannot Install the package using npm

_**$ npm i react-parallax
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: client@0.1.0
npm ERR! Found: react@18.1.0
npm ERR! node_modules/react
npm ERR!   react@"^18.0.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"16.x.x || 17.x.x"

[2022-04-27 18:32] rrutsche commented on #116
React 18 is not supported yet. I have to add it.

[2022-05-04 17:09] brandonscript commented on #91
I don't see it in use in the code (maybe I'm blind!) but this smells like the result of iOS not supporting CSS `background-attachment: fixed;`

[2022-05-23 20:51] rrutsche commented on #116
React 18 is now added to the list of peer dependencies.
Try again.

[2022-05-23 20:51] #116 closed

[2022-06-21 18:20] mgavrila commented on #96
hello, i've been struggling with this issue too. Scrolling too fast from bottom to top, **ty** from translate3D is not reset to the initial value. The issue still can be reproduced in the demo from above

[2022-07-02 15:33] atlsykes opened #122 "~33% whitespace on LH side of viewport, full width"
**Describe the bug**
When viewing my react app in chrome on full (or near) screen width, there is a significant amount of undesirable whitespace on the left-hand side present. When I collapse the screen to about half width, the whitespace disappears. New to this package and trying to implement "Basic - background image with fixed blur effect". Using Hashrouter from 'react-router-dom' and materiali

[2022-08-09 19:40] atlsykes commented on #122
Bueller? Can someone look at this please?

[2022-08-10 12:15] rrutsche commented on #122
Yeah I could take a look. But it would be very helpful to put your code example into a running codesandbox as I assume you have some existing css that is also changing the appearance.

[2022-10-19 12:02] perfectbase commented on #96
Same problem here.
I'm using a MacBook Pro M1. Tested on Google Chrome and Firefox. Both had the same bug.

[2022-10-21 01:57] neaucode commented on #39
I think the solution involves the definition of `speed` and the known size of your image. If your container is `600px` and you want to parallax an image `800px`, your max speed should be 800-600 / 20, which would be 10 or -10. You can test this with the positive value and see if topmost scroll and bottommost scroll line up with the underlying image

[2022-11-24 14:14] zillBoy opened #126 "Local image is not loading"
**Describe the bug**
Hi, I'm using [react-parallax](https://github.com/rrutsche/react-parallax) in my _**Next.Js application**_ and I'm not able to load the background image that is in my assets folder when using [react-parallax](https://github.com/rrutsche/react-parallax) library. However if I give it a URL path of image from internet its loading but not working for my local images.

**Expected b

[2022-11-24 15:49] rrutsche commented on #126
I think NextJS has a public folder where you can put your local files. These files can be referenced starting with `/my-image.jpg`.
https://nextjs.org/docs/basic-features/static-file-serving

[2022-11-26 07:07] zillBoy commented on #126
Hi @rrutsche,
Thank you so much, it's working fine now.  🎉😊

After changing my image location to public folder and giving the path `"/desktop-1.jpg"` its working fine.

[code]

![Screenshot_52](https://user-images.githubusercontent.com/41048737/204076765-9d03a9c3-8131-486a-9a16-02593c2b2969.png)

[2022-11-26 07:07] #126 closed